/* Universal Selector */
*{
  background-color: orange;
}
#lorem1{
  color: purple;
}
/* h2{
      background-color: red;
      color: yellow;
      border: 2px solid black;
    } */
.list1{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Pseudo elements */
ol li:nth-child(even) 
{ color: red; }

#v::before {
  content: " My Name is Neemay Gupta";
}
#v::first-letter {
  color: red;
  font-size: 32px;
}

button{
  background-color: aqua;
  color: black;
}
button:hover{
  background-color:black;
  color: white;
}