.flexContainer {
  border: 5px solid black;
  display: flex;
  height: 80vh;
  padding: 10px;
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: centre; */

  /* padding: 20px; */
  /* align-items: flex-start;*/
   /* align-items: flex-end; */
  /* align-items: center; */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap; */
  /* align-content: flex-start; */
}
.flexItem:nth-child(2){
  order: -1;
  align-self: flex-end;
}
.flexItem {
  border: 2px solid red;
  background-color: cyan;
  color: red;
  font-size: 24px;
  height: 200px;
  width: 200px;
}