.gridContainer {
  height: 80vh;
  border: 3px solid greenyellow;
  display: grid;
  /* grid-template-columns: 100px 200px 300px; */
  /* grid-template-rows: 100px 100px 100px; */
  /* grid-template-columns: repeat(4, 100px); */
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr) 100px;
}

.gridItem {
  border: 1px solid red;
  background-color: yellow;
  color: red;
  font-size: 24px;
  height: 100px;
  /* width: 100px; */
}

.layout{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "a a a" "nav main aside" "footer footer footer";
}
header{
  background-color: black;
  color: white;
  font-size: 32px;
  grid-area: a;
}
footer{
  background-color: black;
  color: white;
  font-size: 24px;
}
nav{
  background-color: blue;
  color: white;
  /* grid-area: nav; */
}
main{
  background-color: yellow;
  color: red;
  /* grid-area: main; */
}
aside{
  background-color: green;
  color: white;
  font-size: 24px;
  /* grid-area: aside; */
}